SECRET_KEY=coloque-aqui-um-secret-key-bem-dificil
DEBUG=True
ALLOWED_HOSTS=*


DATABASE_URL="postgres://docker:docker@localhost:5432/mydb"
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=mydb

PGADMIN_DEFAULT_EMAIL=admin@user.com
PGADMIN_DEFAULT_PASSWORD=secret